{
    "logfile": "",

    "email_from": "",
    "email_to": [],
    "smtp_user": "",
    "smtp_pw": "",
    "smtp_port": 587,
    "smtp_server": "smtp.gmail.com",

    "init_url": "https://goes-app.cbp.dhs.gov/main/goes",
    "username": "", 
    "password": "",
    "enrollment_location_id": ""
}
